<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container">
    <h1>Module 4: Distributed Money Transfer System</h5>
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">Hello</h3>
                    <p class="card-text">User info</p>
                    <!-- <a href="#" class="btn btn-outline-light">Outline</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">Info</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-secondary">Send</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 py-2">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">Hello</h3>
                    <p class="card-text">User info</p>
                    <!-- <a href="#" class="btn btn-outline-light">Outline</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>